{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100
}
